# Основные
spacy==3.7.2
huggingface_hub==0.20.3
pandas==2.1.4
numpy==2.0.0
matplotlib==3.7.2
scikit-learn==1.3.2

# Для русского языка
pymorphy3==2.0.0
pymorphy3-dicts-ru==2.4.417127.4579844

# Оценка моделей
seqeval==1.2.2

# Ускорение (опционально)
torch==2.1.0