# Основные ML фреймворки
torch==2.8.0
transformers==4.35.2

# Работа с Hugging Face
huggingface_hub==0.20.3
accelerate==0.24.1
tokenizers==0.15.0
datasets==2.14.7

# Обработка данных
pandas==2.1.4
numpy==1.26.0
matplotlib==3.7.2
scikit-learn==1.3.2

# CRF слой для NER
TorchCRF==1.1.0

# Оценка моделей
seqeval==1.2.2